@{
    Layout = "~/Views/Shared/_CourseLayout.cshtml";
    var currentCourse = ViewBag.Course as CourseModel;
    var courseID = currentCourse.CourseID;
    <partial name="_NoficationPartial" />
}
@model SubmissionViewModel

<!-- Add Lecture Modal -->
<div class="container">
    <div class="modal-dialog" style="padding: 100px 0px 200px 0px;">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="">Submission</h4>
                <a asp-action="AssignmentList" asp-controller="Participation" asp-route-CourseID="@courseID" class="btn-close" aria-label="Close"></a>
            </div>
            <div class="modal-body">
                <form enctype="multipart/form-data" method="post" asp-area="Student" asp-controller="Assignment" asp-action="SubmitAssignment">
                    <!-- Assignment ID -->
                    <div class="mb-3">
                        <input type="hidden" asp-for="AssignmentID" />
                    </div>

                    <!-- Assignment Link -->
                    <div class="mb-3">
                        <label asp-for="SubmissionLink" class="form-label">Upload Assignment File</label>
                        <input asp-for="SubmissionLink" class="form-control" type="file" accept=".pdf,.doc,.docx,.ppt,.pptx">
                    </div>

                    <!-- Submit Button -->
                    <button type="submit" class="btn custom-btn w-100">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>