@model EditUserViewModel

<section class="profile-section">
    <div class="container emp-profile">
        <form asp-action="Edit" method="post" enctype="multipart/form-data">
            <div class="row">
                <div class="col-md-4">
                    <div class="profile-img">
                        <img src="~/Images/@Model.ExistingProfileImagePath" alt="Profile Image" />
                        <div class="file btn btn-lg btn-primary">
                            Change Photo
                            <input type="file" asp-for="ProfileImage" />
                           
                        </div>
                        <img id="imgpreview" class="pt-2" />
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="form-group">
                        <label for="UserName">Username:</label>
                        <input asp-for="UserName" class="form-control" />
                        <span asp-validation-for="UserName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label for="Email">Email:</label>
                        <input asp-for="Email" class="form-control" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label for="PhoneNumber">Phone:</label>
                        <input asp-for="PhoneNumber" class="form-control" />
                        <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                    </div>
                    <button type="submit" class="btn btn-primary">Save Changes</button>
                </div>
            </div>
        </form>
    </div>
</section>


    <script>
        $("#ProfileImage").change(function () {
            readURL(this);
        });
    </script>

