@model UserModel

<style>
    .form {
        max-width: 400px;
        margin: auto;
        padding: 20px;
        background-color: #fff;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    .form-group {
        margin-bottom: 15px;
    }

    label {
        display: block;
        margin-bottom: 5px;
        font-weight: bold;
    }

    input[type="text"], input[type="email"], input[type="tel"] {
        width: 100%;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 4px;
    }

    button {
        width: 100%;
        padding: 10px;
        background-color: #13547a;
        color: #fff;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        font-size: 16px;
    }

        button:hover {
            background-color: #0d3a5c;
        }
</style>

<section class="profile-section" justify-content-center align-items-center">
    <div class="container emp-profile">
        <form asp-action="EditProfile" asp-controller="Home" method="post">
            <div class="row">
                <div class="col-md-4">
                    <div class="profile-img">
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS52y5aInsxSm31CvHOFHWujqUx_wWTS9iM6s7BAm21oEN_RiGoog" alt="" />
                        <div class="file btn btn-lg btn-primary">
                            Change Photo
                            <input type="file" name="file" />
                        </div>
                    </div>
                </div>
                <div class="edit-form col-md-4">
                    <div class="form-group">
                        <label for="name">Name:</label>
                        <input type="text" id="name" name="UserName" placeholder="@Model.Username">
                    </div>
                    <div class="form-group">
                        <label for="email">Email:</label>
                        <input type="email" id="email" name="Email" placeholder="@Model.Email">
                    </div>
                    <div class="form-group">
                        <label for="phone">Phone:</label>
                        <input type="tel" id="phone" name="PhoneNumber" placeholder="@Model.PhoneNumber">
                    </div>
                    <button type="submit">Submit</button>
                </div>
                <div class="col-md-3">
                </div>
                <div class="col-md-1">
                    <a asp-action="UserProfile" asp-controller="Home" class="btn btn-danger">X</a>
                </div>
            </div>
        </form>
    </div>
</section>