@model EditUserViewModel

<partial name="_NoficationPartial" />
<section class="profile-section">
    <div class="container emp-profile">
        <div class="row">
            <div class="col-md-4">
                <div class="profile-img">
                    <img src="~/Images/@Model.ExistingProfileImagePath" alt="Profile Image" />
                </div>
            </div>
            <div class="col-md-8">
                <h5>@Model.UserName</h5>
                <p>Email: @Model.Email</p>
                <p>Phone: @Model.PhoneNumber</p>
                <a asp-action="Edit" class="btn btn-primary">Edit Profile</a>
               

            </div>
        </div>
    </div>
</section>
