.test-container {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.question-nav {
    width: 25%;
    padding-right: 15px;
    border-right: 2px solid #e9ecef;
}

.question-content {
    width: 70%;
}

.question-box {
    background-color: #f8f9fa;
    border: 1px solid #e9ecef;
    padding: 20px;
    border-radius: 5px;
    margin-bottom: 20px;
}

.question-nav-buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

    .question-nav-buttons button {
        width: 100%;
        padding: 10px;
        background-color: #f8f9fa;
        border: 1px solid #ced4da;
        border-radius: 5px;
        text-align: center;
        font-weight: bold;
        color: #495057;
        cursor: pointer;
    }

        .question-nav-buttons button.active {
            background-color: #007bff;
            color: white;
        }

.timer {
    background-color: #f8f9fa;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    font-weight: bold;
    color: #343a40;
}

.answer-options {
    margin-left: 20px;
}

.form-check-label {
    margin-left: 10px;
}

.next-button {
    display: flex;
    justify-content: flex-end;
}