@if(TempData["success"] != null)
{
	<div class="alert alert-success notification">
		@TempData["success"]
	</div>
}
@if (TempData["erorr"] != null)
{
	<div class="alert alert-warning notification">
		@TempData["erorr"]
	</div>
}