@model IEnumerable<LectureModel>

    <style>
    .collapse-item {
    display: block; 
    max-width: 200px; 
    white-space: nowrap; 
    overflow: hidden; 
    text-overflow: ellipsis;
    }
    </style>

@if (Model == null || !Model.Any())
{
      <h6 class="collapse-header mt-2 mb-2">No lecture yet</h6>
}
else
{
    <div class="mt-2">
   @for (int index = 0; index < Model.Count(); index++)
    {
        var lecture = Model.ElementAt(index);
    <strong> <i class="fas fa-graduation-cap mr-1"></i>Lecture @(index + 1)</strong>
    <br />
    <a asp-action="LectureDetail" asp-controller="Participation" asp-route-LectureID="@lecture.LectureID" class="collapse-item" title="@lecture.Title">
               @lecture.Title            
        </a>
    }
    </div>
}
