
@model VideoCallViewModel
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User 1</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" />
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" />
    <style>
        #video-container {
            position: relative;
            margin: auto;
            width: 640px;
        }

        video {
            background: #dee;
        }

        #localVideo {
            position: absolute;
            top: 0;
            right: 0;
            width: 120px;
            z-index: 10;
            background: #333;
        }

        #remoteVideo {
            width: 100%;
            height: 100%;
        }

        #action-buttons {
            margin: auto;
            text-align: center;
        }

        .hidden-first {
            display: none;
        }
    </style>
</head>
<body>

    <div class="container">
        <div class="row">

            <div class="col-12">
                <div class="jumbotron" style="height: 109.6px;">
                    <div class="container">
                        @Model.FullNameReceive
                        <div id="incoming-call-notice" style="display: none;">
                            <div class="spinner-grow text-primary" role="status">
                                <span class="sr-only">Incoming call...</span>
                            </div>
                            <h3>Incoming call...</h3>
                        </div>
                    </div>

                </div>

                <div id="video-container" style="height: 516.8px; transition: none;"> 
                    <video id="localVideo" style="width: 220.8px; left: 670px; top: 11px; height: 114.8px; transform: translate(0px, -17.6px); transition: none;" autoplay muted></video>
                    <video id="remoteVideo" style="height: 528.8px; width: 1173.6px; transform: translate(-266.4px, -20.8px); transition: none;" autoplay style="height: 100%; width:100%;"></video>
                </div>

            </div>

        </div>

        <div class="row">
            <div class="col" id="action-buttons">
                <button id="callButton" class="btn btn-success"><i class="fa fa-phone" aria-hidden="true"></i></button>
                <button id="answerCallButton" class="btn btn-info hidden-first">Answer Call</button>
                <button id="rejectCallButton" class="btn btn-warning hidden-first">Reject Call</button>
                <button id="endCallButton" class="btn btn-danger hidden-first">End Call</button>
            </div>

        </div>
    </div>

    <script src="~/js/js/lib/jquery.js"></script>
    <script src="~/js/js/lib/socket.io-2.2.0.js"></script>
    <script src="~/js/js/StringeeSDK-1.5.10.js"></script>
   
   




    <script>
        var token = '@Model.Token';
        var callerId = '@Model.SendId';
        var calleeId = '@Model.ReceiveId';
    </script>


    <script src="~/js/js/code.js"></script>
</body>
</html>