@{
    Layout = "~/Views/Shared/_CourseLayout.cshtml";
    <partial name="_NoficationPartial" />
}
@model LectureModel

<section>
    <div class="container-fluid row">
        <div class="sidebar col-md-3">
            @if (User.IsInRole("Instructor"))
            {
                <button type="button" class="btn btn-secondary mb-3" data-bs-toggle="modal" data-bs-target="#createLectureModal">
                    Add New Lecture
                </button>
            }
            <ul class="list-inline">
                @Html.Partial("_SideLecture", Model.CourseID)
            </ul>
        </div>
        <div class="content col-md-6">

        </div>
        <div class="right-sidebar col-md-3">
            <div class="course-item">
                <i class="fas fa-graduation-cap">
                </i>
                <span>
                    ...
                </span>
            </div>
        </div>
    </div>
</section>
