@model IEnumerable<CategoryModel>
     
    @foreach (var category in Model)
    {
    <option value="@Url.Action("CourseList", "Course", new { category = category.CategoryID })">@category.FullName</option>
    }