@model IEnumerable<CategoryModel>
     
    <option value="">All Category</option>
    @{
        int count = 1; 
    }
    @foreach (var category in Model)
    {
    <option value="@count"><a asp-action="Category">@category.FullName</a></option>
        count++; 
    }