@model ResetPasswordViewModel
@{
    ViewData["Title"] = "Reset Password";
    Layout = "~/Views/Shared/login_layout.cshtml";
}
<div class="container">
    <form class="login-form" asp-action="ChangePassword" asp-controller="Account" method="post">
        <a asp-action="Index" asp-controller="Home"><i class="fas fa-home"></i></a>
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <h1>Reset password</h1>

        <input asp-for="Username" class="form-control" readonly />
        <span asp-validation-for="Username" class="text-danger"></span>

        <input asp-for="NewPassword" class="form-control" placeholder="New Password" />
        <span asp-validation-for="NewPassword" class="text-bg-danger"></span>

        <input asp-for="ConfirmNewPassword" class="form-control" placeholder="Confirm" />
        <span asp-validation-for="ConfirmNewPassword" class="text-bg-danger"></span>

        <button type="submit">Confirm</button>
        <div class="separator">
            <span>
            </span>
        </div>
    </form>
</div>

