@model ResetPasswordViewModel
@{
    ViewData["Title"] = "Reset Password";
    Layout = "~/Views/Shared/login_layout.cshtml";
}
<div class="container">
    <form class="login-form" asp-action="ChangePassword" asp-controller="Account" method="post">
        <a asp-action="Index" asp-controller="Home"><i class="fas fa-home"></i></a>
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <h1>Reset password</h1>

        <input asp-for="Username" class="form-control" readonly />
        <span asp-validation-for="Username" class="text-danger"></span>

        <input asp-for="NewPassword" class="form-control" placeholder="New Password" oninput="validatePassword()"/>
        <span asp-validation-for="NewPassword" id="passwordError" class="text-bg-danger"></span>

        <input asp-for="ConfirmNewPassword" class="form-control" placeholder="Confirm" oninput="validateConfirmPassword()" />
        <span asp-validation-for="ConfirmNewPassword" id="confirmPasswordError" class="text-bg-danger"></span>

        <button type="submit">Confirm</button>
        <div class="separator">
            <span>
            </span>
        </div>
    </form>
</div>

<script>
    // Kiểm tra mật khẩu khi người dùng nhập
    function validatePassword() {
        var password = document.getElementById('password').value;
        var error = document.getElementById('passwordError');
        var passwordRegex = /^(?=.*[a-z])(?=.*[A-Z])(?=.*\d).{6,}$/;

        if (!passwordRegex.test(password)) {
            error.textContent = "Passwords must be at least 6 characters, including uppercase, lowercase, and numeric characters.";
        } else {
            error.textContent = "";
        }
    }

    // Kiểm tra mật khẩu xác nhận khi người dùng nhập
    function validateConfirmPassword() {
        var password = document.getElementById('password').value;
        var confirmPassword = document.getElementById('confirmPassword').value;
        var error = document.getElementById('confirmPasswordError');

        if (password !== confirmPassword) {
            error.textContent = "Password and Password Confirmation do not match.";
        } else {
            error.textContent = "";
        }
    }
</script>