@model LoginViewModel
<form asp-action="Login" asp-controller="Account" method="post">
    <h1>Sign In</h1>
    <div class="social-container">
        <a href="#" class="social"><i class="fab fa-facebook-f"></i></a>
        <a href="#" class="social"><i class="fab fa-google-plus-g"></i></a>
        <a href="#" class="social"><i class="fab fa-linkedin-in"></i></a>
    </div>

    <span>or use your account</span>
    <input asp-for="Username" class="form-control" placeholder="Username" />
    <span asp-validation-for="Username" class="text-danger" />
    
    <!-- Password -->
    <input asp-for="Password" type="password" class="form-control" placeholder="Password" />
    <span asp-validation-for="Password" class="text-danger" />

    <a asp-action="Create" asp-asp-controller="Account" >Create new account</a>
    <button type="submit">Sign In</button>
</form>
