@model OTPViewModel
@{
    ViewData["Title"] = "OTP";
    Layout = "~/Views/Shared/login_layout.cshtml";
}
<div class="container">
    <form class="login-form" asp-action="EnterOTP" asp-controller="Account" method="post">
        <a asp-area="Admin" asp-action="AdminEdit" asp-controller="Admin"><i class="fas fa-home"></i></a>
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <h1>OTP authentication</h1>
        <input asp-for="Otp" type="text" placeholder="Enter OTP code send to your email" />
        <button type="submit">Verify</button>
        <div class="separator">
            <span>
            </span>
        </div>
    </form>
</div>
