@model VerifyEmailViewModel
@{
    ViewData["Title"] = "Verify Email";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
    <form asp-action="VerifyEmail" asp-controller="Account" method="post">
        <h1>Sign In</h1>
        <div class="social-container">
            <a href="#" class="social"><i class="fab fa-facebook-f"></i></a>
            <a href="#" class="social"><i class="fab fa-google-plus-g"></i></a>
            <a href="#" class="social"><i class="fab fa-linkedin-in"></i></a>
        </div>
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <span>or use your account</span>
        <div class="mb-3">
            <input asp-for="Email" class="form-control" placeholder="Email" />
            <span asp-validation-for="Email" class="text-danger" ></span>
        </div>


        <div class="text-center">
            <a asp-action="Create" asp-controller="Account">Create new account</a>
        </div>
        <div class="text-center">
            <a asp-action="Login" asp-controller="Account">Login</a>
        </div>
        <div class="row">
            <div class="justify-content-center">
                <button type="submit">Verify Email</button>
            </div>
            
        </div>

    </form>
</div>

