@model VerifyEmailViewModel
@{
    ViewData["Title"] = "Verify Email";
    Layout = "~/Views/Shared/login_layout.cshtml";
}
    <div class="container">
        <form class="login-form" asp-action="VerifyEmail" asp-controller="Account" method="post">
            <a asp-action="Index" asp-controller="Home"><i class="fas fa-home"></i></a>
            <h1>Verify Email</h1>
            <input asp-for="Email" class="form-control" placeholder="Email" />
            <span asp-validation-for="Email" class="text-danger"></span>
            <button type="submit">Verify Email</button>
            <div class="separator">
                <span>                    
                    <a asp-action="Login" asp-controller="Account">Sign In</a>
                    or
                    <a asp-action="Create" asp-controller="Account">Sign Up</a>
                </span>
            </div>
        </form>
    </div>
