@{
    Layout = "~/Views/Shared/_CourseLayout.cshtml";
    var currentCourse = ViewBag.Course as CourseModel;
    var courseID = currentCourse.CourseID;
    <partial name="_NoficationPartial" />
}
@model AssignmentViewModel

<!-- Add Lecture Modal -->
<div class="container">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="">Edit assignment</h4>
                <a asp-action="AssignmentList" asp-controller="Participation" asp-route-CourseID="@courseID">  <i class="bi bi-arrow-left"></i> Back </a>
            </div>
            <div class="modal-body">
                <form enctype="multipart/form-data" method="post" asp-area="Instructor" asp-controller="Assignment" asp-action="EditAssignment">
                    <!-- Course ID -->
                    <div class="mb-3">
                        <input type="hidden" asp-for="CourseID" />
                    </div>

                    <!-- Assignment ID -->
                    <div class="mb-3">
                        <input type="hidden" asp-for="AssignmentID" />
                    </div>

                    <!-- Title -->
                    <div class="mb-3">
                        <label asp-for="Title" class="form-label">Title</label>
                        <input asp-for="Title" class="form-control" placeholder="Enter assignment title">
                    </div>

                    <!-- Description -->
                    <div class="mb-3">
                        <label asp-for="StartDate" class="form-label">Start Date</label>
                        <input asp-for="StartDate" class="form-control" type="datetime-local">
                    </div>

                    <!-- Due Date -->
                    <div class="mb-3">
                        <label asp-for="DueDate" class="form-label">Due Date</label>
                        <input asp-for="DueDate" class="form-control" type="datetime-local">
                    </div>

                    <!-- Assignment Link -->
                    <div class="mb-3">
                        <label asp-for="AssignmentLink" class="form-label">Upload Assignment File</label>
                        <input asp-for="AssignmentLink" class="form-control" type="file" accept=".pdf,.doc,.docx,.ppt,.pptx">
                    </div>

                    <!-- Submit Button -->
                    <button type="submit" class="btn custom-btn w-100">Update Assignment</button>
                </form>
            </div>
        </div>
    </div>


</div>